*{

  --dark-primary-color: #00b6b6;
  --default-primary-color: #00b6b6;
  --light-primary-color: #99c75f;
  --text-primary-color: #ffffff; /*text/icons*/
  --accent-color: #FF4081;
  --primary-background-color: #c5cae9;
  --primary-text-color: #212121;
  --secondary-text-color: #727272;
  --disabled-text-color: #bdbdbd;
  --divider-color: #B6B6B6;

  --color-neutral-light: $color-neutral-light;
  --color-neutral: $color-neutral;
  --color-neutral-dark: $color-neutral-dark;
  --color-neutral-text-light: $color-neutral-text-light;
  --color-neutral-text: $color-neutral-text;
  --color-neutral-text-dark: $color-neutral-text-dark  ;
  --color-neutral-text-bg: $color-neutral-text-bg;

}
